.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(48, 46, 46);
    text-decoration: aliceblue;
    color: whitesmoke;
  }

.navbar {
  background-color: rgb(48, 46, 46);
  text-decoration: aliceblue;
  color: whitesmoke;
}

.nav-link {
  color: whitesmoke;
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
